.title-container {
    font-size: 2.2rem;
}

.elements-container {
    display: flex;    
    align-items: center;
    justify-content: center;
    background-color: #424242;
    border-radius: 20px;
    width: 100%;
    padding: 20% 0;    
}

.albums-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
}

.flex-content {
    display: flex;
    justify-content: space-between;
}

.flex-content-end {
    display: flex;
    justify-content: flex-end;
}