.toolbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    background-color: #9C27B0;
    padding: 0 2%;
    height: 11%;
}

.inputs-container {
    display: flex;
    align-items: center;
    width: 60%;
    gap:12px;
    mat-form-field {
        margin-top: 20px;
    }
}

.input-field {
    width: 60%;    
    font-weight: 500;
}

.flex-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.userName {
    margin-top: 5px;
    font-size: 1rem;
}